@using Books2023.Web.ViewModels;
@model IEnumerable<ProductListVm>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row w-75">
        <div class="col-6">
            <h2>Product List</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                New Product
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped w-75">
        <thead>
            <tr>
                <th ><label asp-for="@Model.First().Title"></label></th>
                <th><label asp-for="@Model.First().Author"></label></th>
                <th><label asp-for="@Model.First().ISBN"></label></th>
                <th><label asp-for="@Model.First().ListPrice"></label></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Author</td>
                        <td>@item.ISBN</td>
                        <td>@item.ListPrice</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Product" asp-action="UpSert" asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash3"></i> &nbsp;
                                Delete
                            </a>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="5">
                        No books added yet
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>